html{
    background-image: url(fond.png);
    font-family: Liberation mono;
}
#navigation{
    display: flex;
    width: 100%;
    justify-content:space-around;
    text-align: center;
}
h1{
    text-align: center;
    color: white;
}
#Pages{
    background-color: blue;
    width: 100%
}
#Pages:hover{
    background-color: lightskyblue;
    box-shadow: 6px 6px 6px blue;
}
a{
    width: 100%;
    text-decoration: none;
    color: white;
}
table{
    width: 30%;
    Float: left;
}
td{
    color: white;
    text-align: center;
}
#horraires{
    text-align: right;
}
#ouvert{
    background-color: greenyellow;
    opacity: 0.7;
}
#fermee{
    background-color: red;
    opacity: 0.7;
}
h2{
    float: right;
    width: 65%
}
#maintenance{
    background-color: blue;
    opacity: 0.6;
    box-shadow: 6px 6px 6px lightskyblue;
    color: white;
    text-align: center;
}